.util-modalx {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.util-cartmodal_title {
    margin-bottom: 15px;
}


.util-overlay {
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    display:block;
    background-color:#000;
    overflow: hidden;
    opacity:0.5;
}



@media only screen and (max-width: 768px) {
    .util-modalx {
        padding-right: 10px;
    }
}