.prod_filter__main {
}

.prod_filter__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 12.5em;
}

.main__products {
    display: flex;
    justify-content: center;
    padding-left: 65px;
    flex-flow: column wrap;
}

.main__products h1 {
    margin-bottom: 15px;
}

.main__filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__filter__select {
    box-sizing: 0 10px 25px rgba(0,0,0,0.2);
    font-size: 1.2rem;
    padding: 0.5em 1em;
    border: 0;
    background-color: #E0E2E0;
    width: 200px;
}





@media only screen and (max-width: 768px) {
    .prod_filter__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 8.5em;
    }

    .main__products {
        padding-left: 20px;
    }
    .main__products h1 {
        text-align: center;
    }
}