.addprodmodal-container {
    position: relative;
}

.addprodmodal-main {
    position:fixed;
    top: 12%;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    width: 45%;
    min-height: 70vh;
    background-color: green;
    border-radius: 10px;
    padding: 15px;
    overflow: auto;
}

.addprodmodal-body {
    height: 50vh;
}


@media only screen and (max-width: 768px) {
    .addprodmodal-main {
        top: 18%;
        width: 90%;
    }
}