.cartmodal-container {
    position: relative;
}

.cartmodal-main {
    position:fixed;
    top: 12%;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    width: 45%;
    min-height: 70vh;
    background-color: green;
    border-radius: 10px;
    padding: 15px;
    overflow: auto;
}


.overlay {
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    display:block;
    background-color:#000;
    overflow: hidden;
    opacity:0.5;
}


@media only screen and (max-width: 768px) {
    .cartmodal-main {
        top: 18%;
        width: 90%;
    }
}