.nav-container {
}

.nav-main {
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-main__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/******* NavLeft CSS START **************/

.navleft-main {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 2.5em;
    padding-left: 25PX;
    
}

.navleft-main p {
    width: 140px;
    letter-spacing: 10px;
}


/******* NavLeft CSS END **************/


/******* NavRight CSS START **************/

.navright-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    height: 2.5em;
    padding-right: 35px;
}


/******* NavRight CSS END **************/

.navright-main__select {
    border: none;
    outline: none;
    width: 70px;
    text-align: center;
}

/* .navright-main__select option {
   text-align: center;
} */

.navright__cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-cart {
    width: 30px;
    cursor: pointer;
    fill: rgb(124, 226, 192);
}

.cart-number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1px;
    left: 32px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(124, 226, 192, 0.5);
    color: black;
}



@media only screen and (max-width: 768px) {

    /******* NavLeft CSS START **************/

.navleft-main p {
    width: unset;
    letter-spacing: 10px;
}

.navleft-main > a {
    display: none;
}


/******* NavLeft CSS END **************/
}